.app {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-pane {
    color: #777;
}
.header, .subheader {
    margin: 0;
}

.calendar-container {
    margin: 1em;
}

.images-container {
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: center;
}
.images-container .image {
    margin: 0 1em 1em 1em;
}
.no-date, .no-images {
    color: #777;
    font-weight: bold;
}
